.container-fluid.hero{
  background: linear-gradient(#612B2B63, #612b2b63), url('../images/layer.svg');
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.btn.send-message{
  background-color: #7a3636 !important;
}

.btn.send-message:hover{
  background-color: #612B2B !important;
}

.form-control.message{
  height: 200px;
  resize: none;
}

.text-center.form-title{
  color: #612B2B;
  position: relative;
  width: fit-content;
}

.text-center.form-title hr{
  position: absolute;
  bottom: -90%;
  border: 1px solid #7a3636;
  width: 30%;
  left: 35%;
}
